# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code / Eclipse
.vscode/
.classpath
.project
.settings/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
